.adobe
.bash_history
bin
bootstrap/bootstrap.log
.cache
.config
.dbus
.dmrc
Downloads
.eagle
.gconf
.gksu.lock
.gstreamer-0.10
.lein
.lesshst
.local
.m2/
.macromedia
NOTES.markdown
.pki
projects
.purple
.ssh
*.swp
.thumbnails
.viminfo
.vim/vim-addons
.Xauthority*
.xscreensaver
.xsession-errors
.xsession-errors.old
