*.swp
.ssh
.adobe
.bash_history
.cache
.config
.dbus
.dmrc
.gconf
.gstreamer-0.10
.lesshst
.local
.macromedia
.pki
.purple
.Xauthority
.xscreensaver
.xsession-errors
.xsession-errors.old
.viminfo
Downloads
bootstrap/bootstrap.log
.m2/
bin
.lein/self-installs
.vim/vim-addons
