.adobe
.bash_history
bin
bootstrap/bootstrap.log
.cache
.config
.dbus
.dmrc
Downloads
.gconf
.gksu.lock
.gstreamer-0.10
.lein/repl-history
.lein/self-installs
.lesshst
.local
.m2/
.macromedia
.pki
.purple
.ssh
*.swp
.thumbnails
.viminfo
.vim/vim-addons
.Xauthority*
.xscreensaver
.xsession-errors
.xsession-errors.old
NOTES.markdown
